{% extends "gra/base.html" %}
{% load static %}

{% block tytul %}Statki | Gra nr. {{ graID }}{% endblock %}

{% block tresc %}

{% if komunikat %}
    <div id="informacja" class="zawartosc">
        <span class="komunikat {{ kolor }}">{{ komunikat }}</span>
        <span class="komunikat">Kolej gracza {{ kolej }}</span>
    </div>
{% endif %}

<main>
    {% if kolej == 1 %}
        <div id="kolej" class="zawartosc">
    {% else %}
        <div class="zawartosc">
    {% endif %}
        
        <p class="komunikat">Gracz 1</p>
        <table trafione_pola="{{ trafione1 }}">
            {% for i in wielkosc_planszy %}
                <tr>
                    {% if kolej == 1 %}
                        {% for j in wielkosc_planszy %}
                            <td id="{{ i }}x{{ j }}" class="pole">{{ i }}{{ j }}</td>
                        {% endfor %}
                    {% else %}
                        {% for j in wielkosc_planszy %}
                            <td>{{ i }}{{ j }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if kolej == 1 %}
            <button id="strzel">💥 WYSTRZEL 💥</button>
        {% else %}
            <button disabled="true" class="zablokowane">POCZEKAJ NA SWOJĄ KOLEJ</button>
        {% endif %}
    </div>


    {% if kolej == 2 %}
        <div id="kolej" class="zawartosc">
    {% else %}
        <div class="zawartosc">
    {% endif %}
        
        <p class="komunikat">Gracz 2</p>
        <table trafione_pola="{{ trafione2 }}">
            {% for i in wielkosc_planszy %}
                <tr>
                    {% if kolej == 2 %}
                        {% for j in wielkosc_planszy %}
                            <td id="{{ i }}x{{ j }}" class="pole">{{ i }}{{ j }}</td>
                        {% endfor %}
                    {% else %}
                        {% for j in wielkosc_planszy %}
                            <td>{{ i }}{{ j }}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if kolej == 2 %}
            <button id="strzel">💥 WYSTRZEL 💥</button>
        {% else %}
            <button disabled="true" class="zablokowane">POCZEKAJ NA SWOJĄ KOLEJ</button>
        {% endif %}
    </div>

    <form id="form" method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="wybrane_pole" id="wybrane_pole">
    </form>

    <script src="{% static 'gra/bitwa_skrypt.js' %}"></script>
</main>
{% endblock %}