{% extends "gra/base.html" %}
{% load static %}

{% block tytul %}Statki | Nowa gra: Gracz {{ gracz }}{% endblock %}

{% block tresc %}
<main>
    <div class="zawartosc">
        {% if komunikat %}
            <p class="komunikat {{ kolor }}">{{ komunikat }}</p>
        {% endif %}
        <p class="komunikat">Kolej gracza {{ gracz }}, wybierz pola:</p>
        
        <table>
            {% for i in wielkosc_planszy %}
                <tr>
                    {% for j in wielkosc_planszy %}
                        <td id="{{ i }}x{{ j }}" class="pole">{{ i }}{{ j }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div id="przyciski">
            <button id="powrot">🔙 POWRÓT</a></button>
            <button id="potwierdz_plansze">➡️ DALEJ</button>
            <button id="reset">❌ RESET</button>
        </div>

        <form id="form" method="POST" action="{% url 'gra:nowa_gra' %}">
            {% csrf_token %}
            <input type="hidden" name="wybrane_pola" id="wybrane_pola">
        </form>

        <script src="{% static 'gra/glowny_skrypt.js' %}"></script>
    </div>

    <image id="reguly" draggable="false" src="../../static/gra/tabela.png"></image>
</main>
{% endblock %}