body {
    padding: 10px;
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
}

.zawartosc {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
}

main {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#reguly {
    width: 350px;
    user-select: none;
}

button {
    margin-top: 15px;
    background-color: rgb(207, 207, 207);
    padding: 10px;
    border: dashed 4px black;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Comic Sans MS";
    user-select: none;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(159, 159, 159);
    cursor: pointer;
}

#przyciski {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#form {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

ul {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    font-size: 1.2em;
    list-style-type: none;
    padding-bottom: 5px;
}

li a {
    padding-right: 40px;
}

#lista {
    font-size: 1.2em;
    padding: 40px;
    padding-top: 20px;
}

td {
    background-color: rgb(194, 209, 227);
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    transition: 0.3s;
}

td:hover {
    background-color: rgb(182, 108, 108);
    cursor: not-allowed;
}

.pole {
    background-color: rgb(126, 180, 234);
}

.pole:hover{
    background-color: rgb(70, 121, 172);
    cursor: pointer;
}

.poleZielone {
    background-color: rgb(3, 162, 0);
    color: white;
}

.poleZielone:hover {
    background-color: rgb(2, 115, 0);
}

.polePomaranczowe {
    color: white;
    background-color: rgb(213, 90, 14);
}

.polePomaranczowe:hover {
    color: white;
    background-color: rgb(186, 68, 25);
}

.komunikat {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.zielonaCzcionka {
    color: green;
}

.czerwonaCzcionka {
    color: red;
}

#strzel:hover {
    background-color: rgb(226, 115, 56);
    color: rgb(92, 4, 4);
    border: dashed 4px rgb(92, 4, 4);
}

.zablokowane:hover {
    cursor: not-allowed;
    background-color: rgb(183, 120, 120);
}